<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IIITD MUN</title>
  <link rel="stylesheet" type="text/css" href="./styles/style.css">
  </head>
  <body>
    <div class="flex flex-col">
      <header class="flex flex-col h-screen">
      <%- include('../public/partials/navbar.ejs') %>
    
      <div class="flex-grow w-full bg-center bg-cover" style="background-image: url('../assets/hero-background.jpg');">
        <div class="flex flex-col items-center justify-center w-full h-full bg-gray-900/60">
          <img class="w-1/2 lg:w-max" src="assets/logo.png"/>
          <h1 class="text-3xl font-semibold text-white lg:text-4xl">Welcome to <span class="text-blue-200">IIITD MUN</span></h1>
          <a href="https://forms.gle/kfedfu1sCUDmTrQG9">
            <button class="shadow-lg w-auto px-5 py-2 mt-4 text-lg font-medium text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md lg:w-auto hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
              Register Now!
            </button>
          </a>
        </div>
      </div>
      </header>
    
      <!-- Main body -->
      <main class="flex-grow dark:bg-gray-900">
      
        <!-- About section -->
        <section class="bg-white dark:bg-gray-900 sm:my-10">
          <div class="container px-6 py-10 mx-auto">
            <h1 class="text-2xl font-semibold text-center text-blue-500 dark:text-blue-400 capitalize lg:text-3xl">About</h1>
            <p class="mt-4 text-lg dark:text-white">
              Model United Nations (MUN) is a simulation of the United Nations where students play the role of delegates to debate on international issues and propose solutions. IIIT Delhi is organizing an MUN which will have 6 committees, including the United Nations Security Council, the World Health Organization, and the United Nations Environment Programme.
            </p>
            <p class="text-lg dark:text-white">
              MUN provides students with the opportunity to enhance their critical thinking, public speaking, and negotiation skills. The simulation allows delegates to research and understand different perspectives on global issues, learn about international relations, and develop their leadership abilities. The event encourages teamwork, cooperation, and effective communication.
            </p>
            <p class="text-lg dark:text-white">
              Apart from the academic benefits, MUN also provides students with the opportunity to network and meet new people from different backgrounds. It helps build confidence, and provides a platform to practice skills that will be useful in any career path.
            </p>
            <p class="text-lg dark:text-white">
              Overall, MUN is a rewarding experience for students as it provides a unique opportunity to learn, grow, and contribute to global issues. IIIT Delhi's MUN is a great initiative for students to get involved and enhance their skills while also having fun and making new connections.
            </p>
          </div>
        </section>

        <!-- Committees section -->
        <section class="bg-white dark:bg-gray-900 sm:my-10">
          <div class="container px-6 py-10 mx-auto">
            <h1 class="text-2xl font-semibold text-center text-blue-500 dark:text-blue-400 capitalize lg:text-3xl">Committees</h1>
        
            <p class="mt-4 text-center text-gray-500 dark:text-gray-300">
              IIIT Delhi hosts various committees of Model United Nations (MUN) for students to participate in, providing opportunities to enhance their diplomatic skills and broaden their perspectives.
            </p>
        
        
            <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
              
              <% Object.keys(data).forEach(key => { %>
                <a href="/<%=key%>" class="overflow-hidden bg-cover rounded-lg cursor-pointer h-96 group"
                  style="background-image:url('<%= data[key].img%>'); background-position: center;">
                  <div
                    class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100">
                    <h2 class="mt-4 text-xl font-semibold text-white capitalize"><%= data[key].title %></h2>
                    <!-- <p class="mt-2 text-lg tracking-wider text-blue-400 uppercase "><%= data[key].title %></p> -->
                  </div>
                </a>
              <% }) %>

            </div>
          </div>
        </section>

        <!-- Contact us -->
        <section class="bg-white dark:bg-gray-900">
          <div class="container grid gap-8 px-6 py-12 mx-auto lg:grid-cols-3">
              <div>
                  <h1 class="text-2xl lg:text-3xl font-medium text-blue-500 dark:text-blue-400">Contact us</p>
                  <p class="text-xl mt-3 text-gray-500 dark:text-gray-400">We’d love to hear from you</p>
              </div>
      
              <div class="grid grid-cols-1 gap-12 lg:col-span-2 sm:grid-cols-2 ">
                  <div class="p-4 rounded-lg bg-blue-50 md:p-6 dark:bg-gray-800">
                      <span class="inline-block p-3 text-blue-500 rounded-lg bg-blue-100/80 dark:bg-gray-700">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                          </svg>
                      </span>
      
                      <h2 class="mt-4 text-base font-medium text-gray-800 dark:text-white">Email Us</h2>
                      <p class="mt-2 text-sm text-blue-500 dark:text-blue-400">mun@iiitd.ac.in</p>
                  </div>
      
                  <div class="p-4 rounded-lg bg-blue-50 md:p-6 dark:bg-gray-800">
                      <span class="inline-block p-3 text-blue-500 rounded-lg bg-blue-100/80 dark:bg-gray-700">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 48 48" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M 16.5 5 C 10.16639 5 5 10.16639 5 16.5 L 5 31.5 C 5 37.832757 10.166209 43 16.5 43 L 31.5 43 C 37.832938 43 43 37.832938 43 31.5 L 43 16.5 C 43 10.166209 37.832757 5 31.5 5 L 16.5 5 z M 16.5 8 L 31.5 8 C 36.211243 8 40 11.787791 40 16.5 L 40 31.5 C 40 36.211062 36.211062 40 31.5 40 L 16.5 40 C 11.787791 40 8 36.211243 8 31.5 L 8 16.5 C 8 11.78761 11.78761 8 16.5 8 z M 34 12 C 32.895 12 32 12.895 32 14 C 32 15.105 32.895 16 34 16 C 35.105 16 36 15.105 36 14 C 36 12.895 35.105 12 34 12 z M 24 14 C 18.495178 14 14 18.495178 14 24 C 14 29.504822 18.495178 34 24 34 C 29.504822 34 34 29.504822 34 24 C 34 18.495178 29.504822 14 24 14 z M 24 17 C 27.883178 17 31 20.116822 31 24 C 31 27.883178 27.883178 31 24 31 C 20.116822 31 17 27.883178 17 24 C 17 20.116822 20.116822 17 24 17 z" />
                          </svg>
                      </span>
                      
                      <h2 class="mt-4 text-base font-medium text-gray-800 dark:text-white">Follow us</h2>
                      <p class="mt-2 text-sm text-blue-500 dark:text-blue-400">@iiitdmun.avni</p>
                  </div>

                  <div class="p-4 rounded-lg bg-blue-50 md:p-6 dark:bg-gray-800">
                      <span class="inline-block p-3 text-blue-500 rounded-lg bg-blue-100/80 dark:bg-gray-700">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                          </svg>
                      </span>
                      
                      <h2 class="mt-4 text-base font-medium text-gray-800 dark:text-white">Visit us</h2>
                      <p class="mt-2 text-sm text-blue-500 dark:text-blue-400">IIIT Delhi, Okhla Industrial Estate, Phase 3, Near Govindpuri Metro Station, Delhi, 110020</p>
                  </div>
              </div>
          </div>
      </section>

      </main>
      
      <%- include('../public/partials/footer.ejs') %>
    </div>

    <script type="text/javascript" src="js/dark.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </body>
</html>
